@charset "utf-8";

// ======================================================================
//
// 【ファイル名】 main.v01.scss
//
// 【このファイルについて】
//  - このファイルはtemplate_pc用のサンプルscssです。
//    各日本語テキストについては、作業完了後削除するか正しい内容に変更してください。
//
// 【もくじ】
//  - sprite設定
//  - include設定
//  - style
//    ├ body               - 簡単な説明を書いてください
//    ├ #contentsArea      - 簡単な説明を書いてください
//    └ ・・・       　    - 簡単な説明を書いてください
//
// ======================================================================

// REQUIRE
$css_init : true;
@import "_core/_core.scss";
@import "_project/_header.scss";
@import "_project/_header1.scss";
@import "_project/_footer.scss";
@import "_project/_index.scss";


// ----------------------------------------------------------------------
// sprite設定
// ----------------------------------------------------------------------

// 記述例
// $spr: sprite-map("spr/*.png");
// $spr_img: sprite-url($spr);


// ----------------------------------------------------------------------
// include設定
// ----------------------------------------------------------------------

// 記述例
// @import "_project/_mixin.scss";


// ----------------------------------------------------------------------
// style ※各styleの記述サンプルです。 適宜変更してください。
// ----------------------------------------------------------------------

/* 共通サンプル */
*,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-13,
.col-lg-14,
.col-lg-15,
.col-lg-16,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-13,
.col-md-14,
.col-md-15,
.col-md-16,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-13,
.col-sm-14,
.col-sm-15,
.col-sm-16,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
}

body,
input,
select,
textarea,
button {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
}

@media (min-width: 992px) {
  .col-md-8 {
    width: 48.4%;
  }
}

#wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

#header {
  position: relative;
  background: #fff;
  z-index: 1000;
}

#main {
  padding: 20px 30px 200px;
  position: relative;
  min-height: inherit;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

#footer {
  position: relative;
}

@media screen and (max-width: 992px) {
  #main {
    padding: 10px 15px 100px;
  }
}

input:focus {
  outline: none;
}





/* 以下は必要に応じて
header, footer, section, h1, h2, h3, h4, h5, h6, div, p, th, td, dl, dt, dd, ul, ol, li, a, span {
  box-sizing: border-box;
}

a:focus, *:focus { outline:none; }
*/