.foot_body {
  border-top: 1px solid #f1f1f1;
  padding: 38px 40px 0px;

  .main_section {
    font-size: 0;
    padding-bottom: 10px;

    .main_left {
      width: 50%;
      display: inline-block;
      vertical-align: top;

      .foot_tit {
        color: #333;
        font-size: 13px;
        font-weight: 400;
      }

      .foot_txt {
        color: #666;
        font-size: 11px;
      }

      .foot_input {
        display: flex;
        margin-top: 10px;

        input {
          width: 260px;
        }

        a {
          width: 120px;
        }
      }

      .foot_error {
        color: #f44d4d;
        font-size: 11px;
        padding: 3px 0 0;
      }
    }

    .main_right {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      text-align: right;

      li {
        margin-left: 13.3%;
        text-align: left;
        font-size: 0;
        display: inline-block;
        vertical-align: top;

        dl {
          dt {
            margin-bottom: 6px;

            a {
              font-size: 13px;
              color: #333;
            }
          }

          dd {
            line-height: 22px;

            a {
              font-size: 11px;
              color: #666;
            }
          }
        }
      }

      li:first-child {
        margin-left: 0;
      }
    }
  }

  .bottom_section {
    display: flex;
    flex-wrap: wrap;

    .shareArea {
      display: flex;
      width: 100%;
      padding: 10px 0;

      li {
        a {
          display: inline-block;
          margin: 0 21px 0 0;
          width: 14px;
          height: 14px;
        }

        .ico-insta {
          background: url(../img/svg/f_insta.svg) no-repeat 0 0;
          background-size: 14px auto;
        }

        .ico-fb {
          width: 7px;
          height: 16px;
          background: url(../img/svg/f_facebook.svg) no-repeat 0 0;
          background-size: 7px auto;
        }

        .ico-tw {
          width: 16px;
          background: url(../img/svg/f_twitter.svg) no-repeat 0 0;
          background-size: 16px auto;
        }
      }
    }

    .copyright {
      font-size: 11px;
      color: #c1c1c1;
      padding: 16px 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .foot_body {
    padding: 20px 15px 0;

    .main_section {
      .main_left {
        .foot_input {
          input {
            width: 220px;
          }
        }
      }

      .main_right {
        li {
          margin-left: 10%;
          min-width: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .foot_body {
    padding: 17px 15px 0;

    .main_section {
      .main_left {
        width: 100%;

        .foot_input {
          input {
            width: calc(100% - 90px);
          }

          a {
            width: 90px;
          }
        }
      }

      .main_right {
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 20px 0 0;
        border-bottom: 1px solid #f1f1f1;

        li {
          margin-left: 0;
          position: relative;
          display: block;
          padding: 16px 15px;
          border-top: 1px solid #f1f1f1;
        }

        .close_up {
          dd {
            display: none;
          }
        }

        .open {
          dd {
            display: block;
          }
        }

        .close_up:after {
          content: '';
          display: block;
          clear: both;
          position: absolute;
          top: 20px;
          right: 15px;
          width: 15px;
          height: 10px;
          line-height: 10px;
          background: url(../img/svg/f_expand.svg) 100% center no-repeat;
          background-size: 15px auto;
        }

        .open:after {
          content: '';
          display: block;
          clear: both;
          position: absolute;
          top: 20px;
          right: 15px;
          width: 15px;
          height: 10px;
          line-height: 10px;
          background: url(../img/svg/f_collapse.svg) 100% center no-repeat;
          background-size: 15px auto;
        }
      }
    }

    .bottom_section {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      .shareArea {
        width: auto;

        li {
          .ico-insta {
            width: 16px;
            height: 16px;
            background: url(../img/svg/f_insta.svg) no-repeat 0 0;
            background-size: 16px auto;
          }

          .ico-fb {
            width: 8px;
            height: 19px;
            background: url(../img/svg/f_facebook.svg) no-repeat 0 0;
            background-size: 8px auto;
          }

          .ico-tw {
            width: 18px;
            height: 17px;
            background: url(../img/svg/f_twitter.svg) no-repeat 0 0;
            background-size: 18px auto;
          }
        }
      }
    }
  }
}