@charset "utf-8";
// ======================================================================
//
// 【ファイル名】 _nhn_reset.scss
//
// 【このファイルについて】
//  - NHN オリジナルのリセットCSS
//    ※_config.scssの【2. Style設定】をすべてtrueにすると、
//    http://static.hangame.co.jp/r02/common/r02/css/common.cssと同等の内容になります
//
// 【製作者】n.umeyama
//
// 【最終更新者】y.hatano
//
// ======================================================================

@mixin nhnReset(){
/*----------------------------------------
 RESET for NHN 
----------------------------------------*/
	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	article, aside, canvas, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section, main, summary,
	time, mark, audio, video{
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-size:100%;
		vertical-align:baseline;
		background-color:transparent;
		font-style:normal;
	}

	main,article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section{ 
		display:block;
	}

	body{
		position:relative;
		-webkit-text-size-adjust:100%;
	}

	ul,ol,li{
		list-style:none;
	}
  
  a:focus {
    outline: thin dotted;
  }

  img {
    vertical-align: bottom;
    line-height: 0;
  }

  label {
    cursor: pointer;
  }

	del{
		text-decoration:line-through;
	}

	blockquote, q{
		quotes:none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after{
		content:'';
		content:none;
	}

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
