@charset "utf-8";
// ======================================================================
//
// 【ミックスイン名】 ellipsis
//
// 【呼び出し】
//  @include ellipsis;
//
// 【機能】
//  - 領域からはみ出るテキストに「...」をつけます
//
// 【製作者】n.umeyama
//
// ======================================================================

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @if $experimental-support-for-opera { -o-text-overflow: ellipsis; }
}